@font-face {
    font-family: 'Creatball';
    src: url(../font/creatball.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Creatball';
}
a{
    text-decoration: none;
}
body{
    background: url(../assets/images/background.png), #1e1e1e;
    background-size: cover;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    transition: 0.4s linear;
    a{
    font-style: normal;
    font-weight: 400;
    font-size: 27.4958px;
    line-height: 48px;
    letter-spacing:0.04em;
    color: #FFFFFF;
    }
}
.burger_btn{
    position: fixed;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    outline: none;
    display: none;
    transition: 0.4s linear;
    span{
        width: 30px;
        height: 3px;
        background: white;
        display: block;
        margin: 6px 0;
        transition: 0.4s linear;
    }
}
.big{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    width: 100%;
    position: relative;
    img{
        position: absolute;
    }
    h1{
        font-style: normal;
        font-weight: 400;
        font-size: 340px;
        line-height: 100%;
        color: #FFFFFF;
        z-index: 1;
    }
    p{
        font-family: 'Creatball';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
        z-index: 1;
        margin-bottom: 24px;
    }
    button{
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: white;
        width: 165px;
        height: 46px;
        border: 1px solid #FFFFFF;
        z-index: 1;
        background: none;
    }

}
.info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 200px;
    h5{
        font-family: 'Creatball';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
        color: #FFFFFF;
    }
    p{
        font-family: 'Creatball';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .info_item{
        width: 300px;
        &:nth-child(1), &:nth-child(2){
            border-right: 1px solid #00DBFF;
        }
    }

}
.team{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 160px;
        .team_left{
        h1{
        font-style: normal;
        font-weight: 400;
        font-size: 62.4379px;
        line-height: 120%;
        color: #EFF2F5;
        }
        p{
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 160%;
        color: #9BA1A8;
        margin-bottom: 50px;
        margin-right: 157px;
        margin-top: 12px;
        }
        .team_left{
        width: 300px;
        &:nth-child(1){
        border-right: 1px solid #00DBFF;
        }
        }
        }
}
.project{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .project_left{
            margin-top: 377px;
        h1{
        width: 500px;
        height: 167px;
        font-family: 'Creatball';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 83px;
        color: #FFFFFF;
        margin-bottom: 37px;
        margin-right: 400px;
        span{
            color: #00DBFF;
        }
        }
        p{
        width: 541px;
        height: 72px;
        font-family: 'Creatball';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 53px;
        margin-right: 107px;
        }
        button{
        width: 165px;
        height: 52px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        align-items: center;
        color: #FFFFFF;
        background: none;
        border: 1px solid #FFFFFF;
        }
        .project_right{
        padding-bottom: 31px;
        img{
        width: 587.12px;
        height: 390.98px;
        border-radius: 20px 0px;
        }
        }

    }
}
.review{
    margin-top: 180px;
    margin-bottom: 200px;
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
    .review_center{
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 145%;
        color: #FFFFFF;
        }
    }
    .review_bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        div{
        display: flex;
        flex-direction: row;
        width: 745px;
        height: 296px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        img{
        width: 245px;
        height: 296px;
        border-radius: 12px 0px 0px 12px;
        }
        h6{
        width: 150px;
        height: 14px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        }
        h1{
        width: 600px;
        height: 62px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #525252;
        }
        p{
        width: 437px;
        height: 141px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #525252;
        }
        }
    }
}
.final{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-right: 50px;
    .final_top{
        margin-bottom: 20px;
        a{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        margin-right: 50px;
        }
        .imgb{
            margin-left: 260px;
        }
    }
    .draw{
        width: 1140px;
        height: 1px;
        opacity: 0.35;
        border: 1px solid #00DBFF;
        background-color: #00DBFF;
        margin-bottom: 26px;
    }
    .final_bottom{
        a{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #EFF2F5;
        margin-right: 323px;
        }
    }
}






@media (max-width:1440px) {
    .info{
        margin-top: 100px;
    }
}

@media (max-width:1140px) {
    .big{
        height: 600px;
        margin-top: 100px;
        img{
            height: 100%;
        }
        h1{
            font-size: 250px;
        }
        p{
            font-size: 28px;
            text-align: center;
        }
    }
}
@media (max-width:1024px) {
    .info{
        padding: 0 30px;
        .info_item{
            &:nth-child(1), &:nth-child(2){
                border-right: none;
            }
        }
    }
}
@media (max-width:768px) {
    .big{
        margin-top: 50px;
    }
}
@media (max-width:650px) {
    .big{
        height: 500px;
        h1{
            font-size: 210px;
        }
        p{
            font-size: 24px;
        }
        button{
            width: 125px;
            height: 35px;
            font-size: 17px;
        }
    }
}
@media (max-width:600px) {
    .info{
        flex-direction: column;
        .info_item{
            margin-bottom: 10px;
        }
    }
}
@media (max-width:530px) {
    .big{
        height: 440px;
        margin-top: 30px;
        h1{
            font-size: 170px;
        }
        p{
            line-height: 30px;
        }
    }
}

@media (max-width:425px) {
    .navbar{
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        height: 100vh;
        padding: 30px 40px; 
        background: #000000cc;
    }
    .burger_btn{
        display: block;
    }
    .burger_close{
        top: 10px;
        right: 10px;
        .first{
            transform: rotate(45deg) translateY(8px) translateX(8px);
        }
        .second{
            opacity: 0;
        }
        .third{
            transform: rotate(-45deg) translateY(-5px) translateX(5px);
        }
    }
    .big{
        height: 380px;
        margin-top: 35px;
        h1{
            font-size: 137px;
            
        }
        p{
            font-size: 20px;
        }
        button{
            width: 95px;
            height: 25px;
            font-size: 14px;
        }

    }
    .info{
        margin-top: 20px;
        h5{
            font-size: 27px;
        }
        p{
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
}
@media (max-width:375px) {
    .big{
        height: 330px;
        h1{
            font-size: 117px;
        }
        p{
            font-size: 16px;
        }
        button{
            width: 75px;
            height: 20px;
            font-size: 12px;
        }
    }
}